.DS_Store
.venv/
__pycache__/
image-classifier/data/**
image-classifier/outputs/**
crawler/photos/**
bin/
lib/
classifier-venv/
mlruns/
image-classifier/source/
image-classifier/source_original/
image-classifier/suspect_images/
